---
import "./styles.css";
import { dataContent } from "../../data/data.json";
console.log(111, dataContent);
---

<body>
  <div id="content-wrapper">
    {
      dataContent.map((item) => (
        <div id="main-wrapper">
          <div class="img-content" />
          <div class="post-info">
            <h2 class="post-title">
              <a href={`/blog/${item.urlSlug}`}>{item.postTitle}</a>
            </h2>
            <div class="post-meta">
              <span>
                <a href={`/blog/${item.urlSlug}`}>{item.postCategory}</a>
              </span>
              <span>
                <a href={`/blog/${item.urlSlug}`}>{item.author}</a>
              </span>
              <span>
                <a href={`/blog/${item.urlSlug}`}>{item.date}</a>
              </span>
            </div>
            <p class="post-snippet">{item.postSnippet}</p>
            <a href={`/blog/${item.urlSlug}`} class="read-more">
              Continue Reading
            </a>
          </div>
        </div>
      ))
    }
    <div class="blog-pager">
      <a href="">Load More</a>
    </div>
  </div>
</body>
