---
import "./styles.css";
import data from "../../data/data.json";
import Facebook from "../../components/vsg/Facebook.astro";
import Twitter from "../../components/vsg/Twitter.astro";
import Pinterest from "../../components/vsg/Pinterest.astro";
import Whatsapp from "../../components/vsg/Whatsapp.astro";
import Reddit from "../../components/vsg/Reddit.astro";
import Vk from "../../components/vsg/Vk.astro";
import Instagram from "../../components/vsg/Instagram.astro";
import Youtube from "../../components/vsg/Youtube.astro";
// console.log(dataContent);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>sidebar</title>
  </head>
  <body>
    <div class="all-sidebar">
      <div class="widgetImage">
        <div class="title">
          <h3>About Meta</h3>
        </div>
        {
          data.dataMeta.length > 0 &&
            data.dataMeta.map((item) => (
              <div class="widget-content">
                <a href="">
                  <img src={item.imageLogo} alt="" />
                </a>
                <br />
                <span>{item.titleInfor}</span>
              </div>
            ))
        }
      </div>
      <div class="widgetLinkList">
        <div class="widget-title">
          <h3>Social Plugin</h3>
        </div>
        <div class="widget-content">
          <div class="link-app-top">
            <div class="facebook icon-link">
              <a href=""><Facebook /></a>
            </div>
            <div class="twitter icon-link">
              <a href=""><Twitter /></a>
            </div>
            <div class="pinterest icon-link">
              <a href=""><Pinterest /></a>
            </div>
            <div class="whatsapp icon-link">
              <a href=""><Whatsapp /></a>
            </div>
          </div>
          <div class="link-app-bt">
            <div class="reddit icon-link">
              <a href=""><Reddit /></a>
            </div>
            <div class="vk icon-link">
              <a href=""><Vk /></a>
            </div>
            <div class="instagram icon-link">
              <a href=""><Instagram /></a>
            </div>
            <div class="youtube icon-link">
              <a href=""><Youtube /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="PopularPosts">
        <div class="PopularPosts-title">
          <h3>Popular Posts</h3>
        </div>
        {
          data.dataContent.map((item) => (
            <div class="PopularPosts-box">
              <div class="PopularPosts-img" />
              <div class="PopularPosts-infor">
                <h2>
                  <a href={`/blog/${item.urlSlug}`}>{item.postTitle}</a>
                </h2>
                <div class="post-meta">
                  <span>{item.date}</span>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <div class="Labels">
        <div class="Labels-title">
          <h3>Labels</h3>
          {
            data.dataContent.length > 0 &&
              data.dataContent.map((item) => (
                <div class="item-Labels">
                  <span>
                    <a href={`/blog/${item.urlSlug}`}>{item.postCategory}</a>
                  </span>
                </div>
              ))
          }
        </div>
      </div>
    </div>
  </body>
</html>
