---
import "./Sidebar.css";
import data from "../../data/data.json";
import Facebook from "../vsg/Facebook.astro";
import Twitter from "../vsg/Twitter.astro";
import Pinterest from "../vsg/Pinterest.astro";
import Whatsapp from "../vsg/Whatsapp.astro";
import Reddit from "../vsg/Reddit.astro";
import Vk from "../vsg/Vk.astro";
import Instagram from "../vsg/Instagram.astro";
import Youtube from "../vsg/Youtube.astro";
// console.log(dataContent);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>sidebar</title>
  </head>
  <body>
    <div class="all-sidebar">
      <div class="widgetImage">
        <div class="title">
          <h3>About Meta</h3>
        </div>
        {
          data.dataMeta.length > 0 &&
            data.dataMeta.map((item) => (
              <div class="widget-content">
                <a href="">
                  <img src={item.imageLogo} alt="" />
                </a>
                <br />
                <span>{item.titleInfor}</span>
              </div>
            ))
        }
      </div>
      <div class="widgetLinkList">
        <div class="widget-title">
          <h3>Social Plugin</h3>
        </div>
        <div class="widget-content">
          <div class="link-app-top">
            <div class="facebook icon-link">
              <Facebook />
            </div>
            <div class="twitter icon-link">
              <Twitter />
            </div>
            <div class="pinterest icon-link">
              <Pinterest />
            </div>
            <div class="whatsapp icon-link">
              <Whatsapp />
            </div>
          </div>
          <div class="link-app-bt">
            <div class="reddit icon-link">
              <Reddit />
            </div>
            <div class="vk icon-link">
              <Vk />
            </div>
            <div class="instagram icon-link">
              <Instagram />
            </div>
            <div class="youtube icon-link">
              <Youtube />
            </div>
          </div>
        </div>
      </div>
      <div class="PopularPosts">
        <div class="PopularPosts-title">
          <h3>Popular Posts</h3>
        </div>
        {
          data.dataContent.map((item) => (
            <div class="PopularPosts-box">
              <div class="PopularPosts-img">
                <a href="">
                  <img src={item.imageSrc} alt="" />
                </a>
              </div>
              <div class="PopularPosts-infor">
                <h2>
                  <a href="">{item.postTitle}</a>
                </h2>
                <div class="post-meta">
                  <span>{item.date}</span>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <div class="Labels">
        <div class="Labels-title">
          <h3>Labels</h3>
          {
            data.dataContent.length > 0 &&
              data.dataContent.map((item) => (
                <div class="item-Labels">
                  <span>
                    <a href="">{item.postCategory}</a>
                  </span>
                  <a href="" class="poist-item-labels">
                    {item.numberPage}
                  </a>
                </div>
              ))
          }
        </div>
      </div>
    </div>
  </body>
</html>
